doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/normalize.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    block add_script
      script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
      